

/*****************Tabs*********************/
 /**** APPLICATION TEMPLATE ****/

    /** TABS FOR APP **/

    .tabs {
        position: relative;
        min-height: 457px;
        /* This part sucks */
        clear: both;
        margin: 25px auto;
        width: 480px;
        overflow: hidden;
        background: #eee;
        border: 20px solid #222;
        color: #444;
        font-family: roboto, sans-serif;
    }

    .tab {
        float: left;
    }

    .tab label {
        background: #333;
        padding: 20px;
        position: relative;
        color: var(--color);
        width: 57px;
        display: block;
        text-align: center;
        font-family: roboto, sans-serif;
        font-weight: 800;
        font-size: 14px;
        border-bottom: 5px solid #333;
        height: 17px;        
    }

    .tab [type=radio] {
        display: none;
    }

    .content {
        position: absolute;
        top: 460px;
        left: 0;
        background: #f1f1f1;
        right: 0;
        bottom: 0;
        padding: 20px;
        transition: ease .5s;
        overflow: auto;
        height: 355px;
    }

    [type=radio]:checked~label {
        border-bottom: 5px solid var(--color);
        z-index: 2;
        color: #aaa;
    }

    [type=radio]:checked~label~.content {
        z-index: 10;
        top: 62px;
        
    }
        
        /** EDITS TO NON BASE TAB CSS **/
        
        .tab .last-tab {
            padding-right: 15px;
        }
        
        .tab label:hover {
            color: #888;
            font-size: 18px;
        }


/** REST OF APPLICATION CSS **/
        
        .prof-wrapper {
            border: 1px solid #ccc;
            padding: 20px;
            min-height: 238px;
        }
        
        .prof-image {
            background:url(http://placehold.it/440x250);
            width: 440px; height: 250px;
            overflow: hidden;
        }
        
        .prof-image img {
            width: 440px; height: auto;
        }
        
        
        .prof-name {
            font-family: roboto, sans-serif;
            font-size: 32px;
            text-align: center;
            position: absolute;
            width: 440px;
            left: 20px; top: 150px;
            color: #eee;
            z-index: 2;
            font-weight:800;
            text-shadow: 0 0 4px #222;
            letter-spacing: 2px;
        }
        
        .prof-name b {
            font-size: 12px;
            display: block;
            font-family: roboto slab, monospace;
            font-weight: 500;
            position: relative;
            letter-spacing: 8px;            border-top: 2px solid #fff;
            width: 200px;
            margin: 0 auto;
            padding-top: 5px;
        }
        
        
        .prof-image:before {
            content:"";
            position: absolute;
            width: 440px; height: 250px;
            background: #555;
            opacity: .5;
        }
        
        .prof-block {
            background: #333;
            width: 440px;
            height: 105px;
            line-height: 105px;
            text-align: center;
            font-family: roboto, sans-serif;
            color: #aaa;
            font-weight: 300;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        .tabs h1 {
            font-family: roboto, sans-serif;
            text-align: center;
            position: relative;
            margin: 0;
            font-size: 27px;
            letter-spacing: 1px;
                        margin: 10px;
            font-weight: 300;
            border: 1px solid #ccc;
            padding: 20px;
        }
        
        .tabs h1:first-letter {
            color: var(--color);
            font-weight: bold; 
        }
        
        .prof-front {
            overflow: hidden;
        }
        
        /* BASICS SECTION */
        
        .prof-basics {
            font-size: 15px;
            padding-bottom: 20px;
            overflow: auto;
            padding: 20px;
        }
        
        .prof-basics h1, .prof-pers h1, .prof-ff h1 {
            margin: -3px;
            margin-bottom: 15px;
            background: #222;
            color: #eee;
            border: 1px solid transparent;
            font-size: 12px;
            letter-spacing: 5px;
            font-weight: bold;
        }
        
        .prof-basics h1:first-letter {
            font-size: 15px;
        }
        
        .pb {
            display: block;
            margin-bottom: 5px;
        }
        
        .pb b {
            color: #222;
            text-transform: uppercase;
            font-size: 12px;
            margin-right: 8px;
        }
        
        .pb b:before {
            content:" • ";
            font-size: 15px;
            position: relative; top: 1px;
            color: var(--color);
            padding-right: 5px;
        }
        
                
        .content::-webkit-scrollbar {
            background: #aaa;
            width: 11px;
            border: 5px solid #111;
        }
        
        .content::-webkit-scrollbar-thumb {
            background: var(--color);
            border: 5px solid #111;
        }
        
        /* OUT OF CHARACTER SECTION */
        
        .ooc-trait {
            display: block;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
        }
        
        .ooc-trait b {
            color: #222;
            text-transform: uppercase;
            font-size: 12px;
            display: block;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
            width: 100px; margin: 0 auto;
            margin-bottom: 5px;
        }
        
        .prof-ooc .prof-wrapper {
            margin: 10px;
            height: 227px;
            min-height: 0;
        }
        
        .prof-ooc { overflow: hidden; }
        
        .prof-para {
            font-size: 12px;
            text-align: justify;
        }
        

        .prof-para {
            padding: 30px; padding-top: 20px;
        }
        
        .prof-para p {
            text-indent: 50px;
        }
        
        .prof-para b {
            color: #222;
            font-size: 13px;
        }
        
        .prof-para i {
            color: #777;
        }
        
        .prof-para h2 {
            margin: 0 auto;
            font-size: 16px;
            border: 1px solid #ccc;
            display: inline-block;
            padding: 10px;
            min-width: 75px;
            max-width: 100%;
        }
        
        .prof-para h3 {
            color: #777;
            margin: 0;
            font-size: 11px;
            letter-spacing: 1.5px;
        }

        
        /* COLORS */
        
        #g4 { --color: #20b2aa; }


.structureG_dtup{position: relative;
    padding: 86px 0;
    margin: -20px 0 6px;}
.structureG_dtup>.Dtup-Fnd{position:absolute;left:0;top:0;width:100%;height:100%;background-size:cover;z-index:1;background-position: 50% 50%}
.structureG_dtup>.Dtup-Fnd:before{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(19deg, #000000 0%, #2b2d3a 100%);
    opacity: .75;
    content: '';}
.structureG_dtup>div{position:relative;z-index:2;font-family: 'Roboto Condensed';}
.structureG_dtup>div>.Title{
	margin-bottom: 7px;
    margin-top: 55px;
    font-size: 25px;
    padding: 5px 0;
    display: inline-block;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    padding-right: 2px;
    text-shadow: 5px 1px 7px rgb(12, 12, 12);}
.structureG_dtup>div>.Title span{font-weight:300;}
.structureG_dtup .alternatitle{display:inline-block;padding:0 10px;font-size:12px;border-radius:10px;opacity:.5;color:#fff;background-color:#000;opacity:.5;margin-top:10px;}
.DtupIMG_Cover{background-color:#fff;padding:5px;border-radius:3px;margin-bottom:10px;box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);}
.Dtup_Tag a,.CatLnk{
    color: #c5c5c5;
    margin-bottom: 10px;
    width: 80px;
    padding: 0 6px;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;}
.Dtup_Tag a:hover,.CatLnk:hover{background-color:rgba(32, 32, 32, 0.4);color:#fff;}.ListAnmRel{margin:0 -20px -5px;border-top:1px solid #efefef;padding:10px 20px 0;}.ListAnmRel>li{line-height:25px;color:#666;font-size:12px;white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
.Dtup_Tag3   {
	padding-bottom: 65px;
    max-width: 100%;
	color: #828282;
}
.Dtup_Tag2   {
    padding-bottom: 60px;
    max-width: 100%;
}
.Dtup_Tag2 a,.CatLnk{
    color: #c5c5c5;
  	text-transform: uppercase;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.06);
    margin-bottom: 10px;
    padding: 0 12px;
    text-decoration: none;
    line-height: 22px;
    font-size: 0.8em;
    border-radius: 19px;
    display: inline-block;
    vertical-align: top;
    text-shadow: 0 1px 1px rgba(0,0,0,.6), 0 1px 5px rgba(0,0,0,.2);
	}
.Dtup_Tag2 a:hover,.CatLnk:hover{background-color: rgba(67, 69, 84, 0.46);;color:#fff;}.ListAnmRel{margin:0 -20px -5px;border-top:1px solid #efefef;padding:10px 20px 0;}.ListAnmRel>li{line-height:25px;color:#666;font-size:12px;white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
.DTUP{padding-top:0;text-align:center;box-shadow: -17px 14px 20px 0px #a0a0a0;}
.DTUP .Title-Fch{
	margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 29px 15px;
    position: relative;
    z-index: 2;
    color: rgba(255,255,255,.5);
    margin-bottom: -35px;}
.DTUP .vtshr{display:inline-block;padding-top:15px;}
.DtupIMG_Cover .Image{margin-bottom:0;}

@media (min-width: 767px)
.DTUP .Container {
    padding-right: 180px;
}
@media (min-width: 1200px)
.structureG_dtup>.Container {
    padding-top: 180px;
    padding-left: 310px;
}
.structureG_dtup>div {
    position: relative;
    z-index: 1;
}
@media (min-width: 1200px)
.Container {
    max-width: 1170px;
}
@media (min-width: 767px)
.Container {
    max-width: 765px;
}
.Container {
    margin: 0 auto;
    padding: 0 15px;
}

.containerheader {
    background: #1f212b;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto Condensed';
}

.spaceheader {margin-top: 45px;}
.spaceheader2 {margin-top: 230px;}
.krs-flex {display: -webkit-box;display: flex;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start}
.krs-flex.is-wrap { -ms-flex-wrap: wrap;flex-wrap: wrap}
.col-1 {width: 8.33333%}
.col-2 {width: 16.66667%}
.col-3 {width: 25%}
.col-4 {width: 33.33333%}
.col-5 {width: 41.66667%}
.col-6 {width: 50%}
.col-7 {width: 58.33333%}
.col-8 {width: 66.66667%}
.col-9 {width: 75%}
.col-10 {width: 83.33333%}
.col-11 {width: 91.66667%}
.col-12 {width: 100%
}

@media screen and (max-width:1225px) {
	.anime-theme {display: none;}
}
@media (min-width:768px) {
	.col-md-1 {width: 8.33333%}
	.col-md-2 {width: 16.66667%}
	.col-md-3 {width: 25%}
	.col-md-4 {width: 27%}
	.col-md-5 {width: 41.66667%}
	.col-md-6 {width: 50%}
	.col-md-7 {width: 58.33333%}
	.col-md-8 {width: 73%}
	.col-md-9 {width: 75%}
	.col-md-10 {width: 83.33333%}
	.col-md-11 {width: 91.66667%}
	.col-md-12 {width: 100%}
}

.anime-left {position: relative;padding: 0 16px 0 16px;}
.anime-left {margin-top: -100px;z-index: 1;}
.anime-right {position: relative;padding: 0 15px 16px 15px;}
.anime-right::before {
    background-image: url(https://cdn.myanimelist.net/images/event/2019_halloween/forumcat.png?v=180226001);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 67px;
    content: '';
    display: none;
    height: 86px;
    position: absolute;
    right: 16px;
    top: 87px;
    width: 97px;
}


@media screen and (max-width:768px) {
	.anime-left {
		margin-top: -150px;position: relative;0 15px 0 15px;
	}
  	.anime-right::before {
    	display: none;
	}
  	table {
		width: 96%;
	}
}

.anime-image img {
	width: 100%;
	-webkit-box-shadow: inset 0 0 70px rgba(255, 255, 255, 0.3), 0 0 20px rgba(86, 86, 86, 0.5);
	box-shadow: inset 0 0 70px rgba(255, 255, 255, 0.3), 0 0 20px rgba(86, 86, 86, 0.5);
	display: block;
}

@media screen and (max-width:768px) {
	.anime-image {
		text-align: center
	}
	.anime-image img {
		width: 100%;
		max-width: 250px;
		display: inline-block
	}
}
div.titleec {
    margin: 11px 0 0 0;
}
.anime-headline {
	text-align: left;
    padding: 4px 0;
}

.anime-headline span {
	margin: 20px 0;
}
h1.anime-title {
    font-size: 25px;
    font-weight: 700;
    padding: 0 2px;
	line-height: 30px;
}
.anime-title {
	font-size: 27px;
	font-weight: 700;
	margin: 0
}
.anime-letters {
	padding: 8px 6px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
}

.anime-letters a {
	display: inline-block;
	padding: 4px 16px;
	margin: 0 6px 6px 0;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	background: #fff;
	color: #1e272e;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.anime-letters a:hover {
	background: #2b2d3a;
	color: #1e272e;
	color: #fff
}
.anime-year {
	padding: 8px 6px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
}

.anime-year a {
	display: inline-block;
	padding: 4px 16px;
	margin: 0 6px 6px 0;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	background: #fff;
	color: #1e272e;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.anime-year a:hover {
	background: #2b2d3a;
	color: #1e272e;
	color: #fff
}

.anime-genres {
	padding: 8px 0
}

.anime-genres a {
	display: inline-block;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	padding: 4px 16px;
	margin: 0 6px 6px 0;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	background: #fff;
	color: #1e272e;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.anime-genres a:hover {
	background: #2b2d3a;
	color: #1e272e;
	color: #fff
}

.anime-section {
	background: #fff;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	color: #1e272e;
	margin: 8px 0;
	margin-bottom: 16px
}

.anime-section.center {
	margin: 16px
}

.anime-section__headline {
	padding: 16px
}

.anime-section__title {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	padding: 0
}

.anime-section__content {
	padding: 16px;
	padding-top: 0;
    color: #656565;
}

.anime-section__content p {
	font-weight: 500;
	margin: 0;
  	text-align: justify;
  	color: #595b67;
}

.anime-metas__item {
	background: #fff;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	padding: 0px 8px;
	margin: 16px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 18px;
	color: #1e272e
}

.anime-metas__item[href] {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.anime-metas__item[href]:hover {
	opacity: .75
}

.anime-metas__item span {
	font-size: 11px;
	opacity: .75;
	text-transform: uppercase;
	font-weight: 300
}

.anime-metas__item span.fa,
.anime-metas__item span.fa,
.anime-metas__item span.fab {
	font-weight: inherit
}

.anime-metas__item.simulcast {
	background: #05c46b;
	color: #fff
}

.anime-metas__item.finished {
	background: #d24041;
	color: #fff
}
.anime-metas__item.aired {
	background: #64a553;
	color: #fff
}
.anime-metas__item.trailer {
	background: #d24041;
	color: #fff
}
.anime-metas__item.paused {
	background: #007dfe;
	color: #fff
}
.anime-metas__item.score {
	background: #2b2d3a;
	color: #fff
}

.anime-gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.anime-gallery__item {
	width: 33.3%;
	padding: 8px
}

.anime-gallery__item img {
	width: 100%;
	display: block;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.anime-gallery__item img:hover {
	opacity: .75
}

@media screen and (max-width:768px) {
	.anime-gallery__item {
		width: 45%;
	}
  	.anime-gallery {
		flex-wrap: wrap;
	}
  	anime-gallery__item img {
  		border-radius: 4px;
  	}
}

@media screen and (max-width:480px) {
	.anime-gallery__item {
		width: 50%
	}
}

.anime-info {
	margin: 0;
	padding: 0
}

.anime-info li {
	list-style: none;
	padding: 5px 0;
	font-size: 14px
}

.anime-info li span {
	font-weight: 700;
    text-transform: uppercase;
}

.anime-info li a {
	color: #d83636;
	text-decoration: none;
	font-weight: 500;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: flex;
}

.anime-info li a:hover {
	color: #1e272e
}

.anime-e-list {
	margin: 0;
	padding: 0
}

.anime-e-list li {
	list-style: none
}

.anime-e-list li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-decoration: none
}

.anime-e-list__image {
	width: 120px;
	height: 96px
}

.anime-e-list__image img {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
	-o-object-fit: cover;
	object-fit: cover
}

.anime-e-list__title {
	width: calc(100% - 120px);
	padding: 16px;
	font-weight: 500;
	font-size: 16px;
	color: #1e272e;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.anime-e-list__title span {
	display: block;
	font-size: 12px;
	font-weight: 700;
	opacity: .5;
	color: #1e272e
}

.anime-e-list__title:hover {
	color: #ef5777
}

.anime-e-list__title:hover span {
	color: #1e272e
}

.anime-e-list__image img,
.anime-gallery__item img,
.anime-image img,
.anime-section {
	border-radius: 8px;
	margin-bottom: 2px;
}

.anime-metas__item {
	border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
}

.containerec {
	width: 100%;
	padding: 5px;
	max-width: 960px;
	margin: auto;
	margin-top: 20px
}
